package ${javaRootPackage}.pojo.bo.mapper.${classname};

import ${javaRootPackage}.pojo.bo.mapper.bases.BaseQueryMapperBO;
import lombok.Getter;
import lombok.Setter;
import lombok.ToString;
import lombok.NoArgsConstructor;
import java.util.List;
import java.math.BigDecimal;

@Setter
@Getter
@NoArgsConstructor
@ToString(callSuper = true)
public class ${ForeignKeyColumn}MapperBO extends BaseQueryMapperBO {

	private static final long serialVersionUID = -1L;

	private ${attrType} ${foreignKeyColumn};

}
