package ${javaRootPackage}.pojo.dto.param.${classname};

import com.fasterxml.jackson.annotation.JsonInclude;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Getter;
import lombok.Setter;
import lombok.ToString;
import javax.validation.constraints.NotEmpty;
import javax.validation.constraints.Size;
import java.io.Serializable;
import java.util.List;

@ApiModel(value = "${ClassName}BatchCreateRequestParam")
@Setter
@Getter
@ToString(callSuper = true)
@JsonInclude(JsonInclude.Include.NON_NULL)
public class ${ClassName}BatchCreateRequestParam implements Serializable {

	private static final long serialVersionUID = -1L;

#foreach ($column in $foreignKeyColumns)
	@ApiModelProperty(value="${column.shortComment}列表}")
	@NotEmpty(message = "${column.shortComment}不能为空")
	@Size(min = 1, message = "${column.shortComment}至少需要一个元素")
	private List<${column.attrType}> ${column.lowerAttrName}List;

#end

}
