import { Effect } from '../../typings';
import { Reducer } from 'redux';

import {
  pageApiAjax,
  createApiAjax,
  updateApiAjax,
  detailApiAjax,
  deleteApiAjax,
  cacheEvictApiAjax,
#if($isIncludeStateEnum)
  updateStateApiAjax,
#end
} from '@/services/${ClassName}Service';

export const pageApi = '${ClassName}Model/pageApiEffect';
export const createApi = '${ClassName}Model/createApiEffect';
export const updateApi = '${ClassName}Model/updateApiEffect';
export const detailApi = '${ClassName}Model/detailApiEffect';
export const deleteApi = '${ClassName}Model/deleteApiEffect';
export const cacheEvictApi = '${ClassName}Model/cacheEvictApiEffect';
#if($isIncludeStateEnum)
export const updateStateApi = '${ClassName}Model/updateStateApiEffect';
#end
export const detailApiReducer = '${ClassName}Model/detailApiReducer';

export interface ModelType {
  namespace: string;
  state: {};
  effects: {
    pageApiEffect: Effect;
    createApiEffect: Effect;
    updateApiEffect: Effect;
    detailApiEffect: Effect;
    deleteApiEffect: Effect;
    cacheEvictApiEffect: Effect;
#if($isIncludeStateEnum)
    updateStateApiEffect: Effect;
#end
  };
  reducers: {
    pageApiReducer: Reducer<{}>;
    detailApiReducer: Reducer<{}>;
  };
}

const Model: ModelType = {
  namespace: '${ClassName}Model',

  state: {
    pageValue: {},
    detailValue: undefined,
  },

  effects: {
    * pageApiEffect({ payload }, { call, put }) {
      const response = yield call(pageApiAjax, payload);
      yield put({
        type: 'pageApiReducer',
        payload: response,
      });
    },
    * createApiEffect({ payload }, { call }) {
      return yield call(createApiAjax, payload);
    },
    * updateApiEffect({ payload }, { call }) {
      return yield call(updateApiAjax, payload);
    },
    * detailApiEffect({ payload }, { call, put }) {
      const response = yield call(detailApiAjax, payload);
      yield put({
        type: 'detailApiReducer',
        payload: response.data,
      });
    },
    * deleteApiEffect({ payload }, { call }) {
      return yield call(deleteApiAjax, payload);
    },
    * cacheEvictApiEffect({ payload }, { call }) {
      return yield call(cacheEvictApiAjax, payload);
    },
#if($isIncludeStateEnum)
    * updateStateApiEffect({ payload }, { call }) {
      return yield call(updateStateApiAjax, payload);
    },
#end
  },

  reducers: {
    pageApiReducer(state, { payload }) {
      return {
        ...state,
        pageValue: payload,
      };
    },
    detailApiReducer(state, { payload }) {
      return {
        ...state,
        detailValue: payload,
      };
    },
  },
};

export default Model;
