package ${javaRootPackage}.pojo.entity;

import ${javaRootPackage}.pojo.entity.bases.BaseEntity;
import lombok.Getter;
import lombok.Setter;
import lombok.ToString;

@Setter
@Getter
@ToString(callSuper = true)
public class ${ClassName} extends BaseEntity {

	private static final long serialVersionUID = -1L;

#foreach ($column in $entityColumns)
	private $column.attrType $column.lowerAttrName;
#end

#if($isIncludeStateEnum)
	private Integer stateEnum;
#end

#if($isIncludeDeleteEnum)
	private Integer deleteEnum;
	private Long deleteDate;
	private Long deleteUserId;
#end

#if($isIncludeCreateDate)
	private Long createDate;
	private Long createUserId;
#end

#if($isIncludeUpdateDate)
	private Long updateDate;
	private Long updateUserId;
#end


}

