package ${javaRootPackage}.mapper;

import ${javaRootPackage}.config.CustomBaseMapper;
import ${javaRootPackage}.pojo.bo.mapper.bases.BatchDeleteMapperBO;
import ${javaRootPackage}.pojo.bo.mapper.bases.BatchUpdateStateMapperBO;
import ${javaRootPackage}.pojo.bo.mapper.bases.BaseQueryMapperBO;
import ${javaRootPackage}.pojo.bo.mapper.bases.IdListMapperBO;
import ${javaRootPackage}.pojo.bo.mapper.bases.IdMapperBO;
import ${javaRootPackage}.pojo.bo.mapper.bases.ParentIdMapperBO;
import ${javaRootPackage}.pojo.bo.mapper.${classname}.${ClassName}PageQueryMapperBO;
#foreach ($column in $foreignKeyColumns)
import ${javaRootPackage}.pojo.bo.mapper.${classname}.${ClassName}${column.upperAttrName}MapperBO;
#end
#foreach ($column in $paramMapperBOColumns)
import ${javaRootPackage}.pojo.bo.mapper.${classname}.${ClassName}${column.upperAttrName}MapperBO;
#end
import ${javaRootPackage}.pojo.entity.${ClassName};
import org.springframework.stereotype.Component;
import java.util.List;
import org.apache.ibatis.annotations.Param;

@Component
public interface ${ClassName}Mapper extends CustomBaseMapper<${ClassName}> {

	// =====================================查询业务 start=====================================

	${ClassName} selectById(IdMapperBO mapperBO);

#foreach ($column in $foreignKeyColumns)
	${ClassName} selectOneBy${column.upperAttrName}(${ClassName}${column.upperAttrName}MapperBO mapperBO);

	List<${ClassName}> selectBy${column.upperAttrName}(${ClassName}${column.upperAttrName}MapperBO mapperBO);

	List<${ClassName}> selectBy${column.upperAttrName}List(${ClassName}${column.upperAttrName}MapperBO mapperBO);

#end

#foreach ($column in $oneParamMapperBOColumns)
	List<${ClassName}> selectBy${column.upperAttrName}(${ClassName}${column.upperAttrName}MapperBO mapperBO);

#end

#foreach ($column in $listParamMapperBOColumns)
	List<${ClassName}> selectBy${column.upperAttrName}List(${ClassName}${column.upperAttrName}MapperBO mapperBO);

#end

#if($isIncludeParentId)
	List<${ClassName}> selectByParentId(ParentIdMapperBO mapperBO);

	List<${ClassName}> selectByParentIdList(ParentIdMapperBO mapperBO);

#end

	List<${ClassName}> selectByIdList(IdListMapperBO mapperBO);

	List<${ClassName}> selectByPageQueryMapperBo(${ClassName}PageQueryMapperBO mapperBO);

#if($isIncludeStateEnum)
	List<${ClassName}> selectByStateEnum(BaseQueryMapperBO mapperBO);
#end

#if($isIncludeDeleteEnum)
	List<${ClassName}> selectByDeleteEnum(BaseQueryMapperBO mapperBO);
#end

#if($isIncludeStateEnum && $isIncludeDeleteEnum)
	List<${ClassName}> selectByDeleteEnumAndStateEnum(BaseQueryMapperBO mapperBO);
#end

	// =====================================查询业务 end=====================================
	// =====================================操作业务 start=====================================

	int batchInsertList(@Param("list") List<${ClassName}> list);

#if($isIncludeStateEnum)
	int updateStateEnumByIdList(BatchUpdateStateMapperBO mapperBO);
#end

#if($isIncludeDeleteEnum)
	int updateDeleteEnumByIdList(BatchDeleteMapperBO mapperBO);

#foreach ($column in $foreignKeyColumns)
	int updateDeleteEnumBy${column.upperAttrName}List(${ClassName}${column.upperAttrName}MapperBO mapperBO);

#end
#else
	int deleteByIdList(BatchDeleteMapperBO mapperBO);

#foreach ($column in $foreignKeyColumns)
	int deleteBy${column.upperAttrName}List(${ClassName}${column.upperAttrName}MapperBO mapperBO);

#end
#end


	// =====================================操作业务 end=====================================

}
