package ${javaRootPackage}.pojo.dto.response.${classname};

import ${javaRootPackage}.pojo.entity.bases.BaseEntity;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Getter;
import lombok.Setter;
import lombok.ToString;
import java.io.Serializable;

@ApiModel(value = "${ClassName}ResponseDTO")
@Setter
@Getter
@ToString(callSuper = true)
public class ${ClassName}ResponseDTO extends BaseEntity {

	private static final long serialVersionUID = -1L;

#foreach ($column in $responseDTOColumns)
	@ApiModelProperty(value="$column.shortComment"#if($column.hidden),hidden=$column.hidden#end)
	private $column.attrType $column.lowerAttrName;

#end

#if($isIncludeCreateDate)
	@ApiModelProperty(value="创建时间")
	private Long createDate;

	@ApiModelProperty(value="创建人ID")
	private Long createUserId;

	@ApiModelProperty(value="创建人")
	private String createUsername;
#end

#if($isIncludeUpdateDate)
	@ApiModelProperty(value="更新时间")
	private Long updateDate;

	@ApiModelProperty(value="更新人ID")
	private Long updateUserId;

	@ApiModelProperty(value="更新人")
	private String updateUsername;
#end

}
