package ${javaRootPackage}.pojo.dto.param.${classname};

import ${javaRootPackage}.pojo.dto.param.bases.BaseDeleteParam;
import javax.validation.constraints.NotEmpty;
import javax.validation.constraints.Size;
import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;
import lombok.ToString;
import java.util.List;


@Setter
@Getter
@NoArgsConstructor
@ToString(callSuper = true)
public class ${ForeignKeyColumn}ListToDeleteRequestParam extends BaseDeleteParam {

	private static final long serialVersionUID = -1L;

	@NotEmpty(message = "${foreignKeyColumn}List 不能为空")
	@Size(min = 1, message = "${foreignKeyColumn}List 至少需要一个元素")
	private List<${attrType}> ${foreignKeyColumn}List;

}
