package ${javaRootPackage}.pojo.bo.service.${classname};

import lombok.*;
import java.io.Serializable;
import java.math.BigDecimal;
import ${javaRootPackage}.pojo.bo.service.${classname}.bases.${ClassName}CreateBaseServiceBO;

@Setter
@Getter
@NoArgsConstructor
@ToString(callSuper = true)
public class ${ClassName}CreateServiceBO extends ${ClassName}CreateBaseServiceBO {

	private static final long serialVersionUID = -1L;


}
