package ${javaRootPackage}.pojo.bo.service.${classname};

import ${javaRootPackage}.enums.DeleteEnum;
import ${javaRootPackage}.pojo.dto.param.bases.PageParam;
import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;
import lombok.ToString;

@Setter
@Getter
@NoArgsConstructor
@ToString(callSuper = true)
public class ${ClassName}${LikeParam}LikeQueryServiceBO extends PageParam {

	private static final long serialVersionUID = -1L;

	private String ${likeParam};

#if($isIncludeStateEnum)
	private Integer stateEnum;
#end

#if($isIncludeDeleteEnum)
	private Integer deleteEnum = DeleteEnum.NOT_DELETED.getCode();
#end
}
