package ${javaRootPackage}.pojo.bo.service.${classname}.bases;

import lombok.*;
import java.io.Serializable;
import java.math.BigDecimal;
import ${javaRootPackage}.pojo.bo.service.bases.BaseUpdateServiceBO;


@Setter
@Getter
@NoArgsConstructor
@ToString(callSuper = true)
public class ${ClassName}UpdateBaseServiceBO extends BaseUpdateServiceBO{

	private static final long serialVersionUID = -1L;

#foreach ($column in $updateRequestServiceBOColumns)
	private $column.attrType $column.lowerAttrName;
#end

}
