package ${javaRootPackage}.pojo.bo.mapper.${classname};

import ${javaRootPackage}.pojo.bo.mapper.bases.BaseQueryMapperBO;
import lombok.Getter;
import lombok.Setter;
import lombok.ToString;
import java.util.List;

@Setter
@Getter
@ToString(callSuper = true)
public class ${ForeignKeyColumn}MapperBO extends BaseQueryMapperBO {

	private static final long serialVersionUID = -1L;

	private ${attrType} ${foreignKeyColumn};
	private List<${attrType}> ${foreignKeyColumn}List;

	public ${ForeignKeyColumn}MapperBO(${attrType} ${foreignKeyColumn}) {
		this.${foreignKeyColumn} = ${foreignKeyColumn};
	}

	public ${ForeignKeyColumn}MapperBO(List<${attrType}> ${foreignKeyColumn}List) {
		this.${foreignKeyColumn}List = ${foreignKeyColumn}List;
	}
}
