package ${javaRootPackage}.pojo.bo.mapper.${classname};

import ${javaRootPackage}.pojo.dto.param.bases.PageParam;
import ${javaRootPackage}.enums.DeleteEnum;
import lombok.*;

@Setter
@Getter
@NoArgsConstructor
@AllArgsConstructor
@ToString(callSuper = true)
public class ${ClassName}PageQueryMapperBO extends PageParam {

	private static final long serialVersionUID = -1L;

#foreach ($column in $pageQueryParamColumns)
	private $column.attrType $column.lowerAttrName;
#end

#foreach($column in $allDateColumns)
	private $column.attrType ${column.lowerAttrName}StartDate;
	private $column.attrType ${column.lowerAttrName}EndDate;

#end

#if($isIncludeDeleteEnum)
	private Integer deleteEnum = DeleteEnum.NOT_DELETED.getCode();
#end
}
