package ${javaRootPackage}.pojo.bo.mapper.${classname};

import ${javaRootPackage}.pojo.bo.mapper.bases.BaseQueryMapperBO;
import lombok.Getter;
import lombok.Setter;
import lombok.ToString;
import java.util.List;

@Setter
@Getter
@ToString(callSuper = true)
public class ${ParamColumn}MapperBO extends BaseQueryMapperBO {

	private static final long serialVersionUID = -1L;

	private ${attrType} ${paramColumn};
	private List<${attrType}> ${paramColumn}List;

	public ${ParamColumn}MapperBO(${attrType} ${paramColumn}) {
		this.${paramColumn} = ${paramColumn};
	}

	public ${ParamColumn}MapperBO(List<${attrType}> ${paramColumn}List) {
		this.${paramColumn}List = ${paramColumn}List;
	}
}
